.banner{
    background-image: url("../img/banner.png");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
    position: relative;
    z-index: 0;
}

.banner::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;
    background-color: black;
    opacity: 0.6;
}

.banner2{
    background-image: url("../img/banner2.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}

.menu{
    background-color: #812A29;
    opacity: 0.8;
}

.dropdown-content a:hover{
    background-color: blue;
  }